body {
	background-color: #70D3FF;
}

span {
	font-size:1.5em;
}

#parent {
	background-color: orange;
}

.form {
	padding: 10px;
}

#about {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}
a {
	color: coral;
}